Repository this-is-this-team/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run prettier:check, prettier, eslint, jest

.lintstagedrc:

{ "*": ["npm run lint:check", "npm run prettier:check"] }

.lintstagedrc.json:

{
    "*.ts": [
      "prettier",
      "eslint",
      "jest"
    ],
    "*.html": [
      "eslint",
      "prettier"
    ],
    "*.scss": "eslint"
  }

refactor: add types for methods
  src/components/product/product.ts
  src/pages/product-page/product-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: delete product-page from index.ts
  src/index.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add popup-password component
  src/assets/icons/popup-close-icon.svg
  src/components/popup/popup-password.ts
  src/components/popup/popup.scss
  src/utils/remove-popup.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add new Button types styles
  src/assets/icons/change-password-icon.svg
  src/components/button/button.scss
Due: npm run lint:check, npm run prettier:check, eslint

feat: add functionality to change user data
  src/components/account/account-details-edit/account-details-edit.scss
  src/components/account/account-details-edit/account-details-edit.ts
  src/components/account/account-details/account-details.ts
  src/components/form/details-form.ts
  src/components/form/form.scss
  src/components/input/input.ts
  src/constants/detailsEditInputs.ts
  src/constants/formValidationRules.ts
  src/services/changePassword.ts
  src/services/updateUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: add new types and style variable
  src/styles/base/_variables.scss
  src/types/enums.ts
  src/types/interfaces.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add edit mode for account page
  src/pages/account-page/account-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: replace token after password change
  src/components/popup/popup-password.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: some changes with imports
  src/components/account/account-details/account-details.ts
  src/components/form/details-form.ts
  src/components/form/signup-form.ts
  src/components/popup/popup-password.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement category and breadcrumb navigation in shop
  src/components/category-list/category-list.scss
  src/components/category-list/category-list.ts
  src/components/hero-shop/hero-shop.scss
  src/components/hero-shop/hero-shop.ts
  src/components/link/link.ts
  src/components/product-card/product-card.ts
  src/components/product-list/product-list.ts
  src/constants/categories.ts
  src/constants/subcategories.ts
  src/pages/catalog-page/catalog-page.scss
  src/pages/catalog-page/catalog-page.ts
  src/router/routes.ts
  src/services/getAllCategories.ts
  src/services/getProducts.ts
  src/types/interfaces.ts
  src/types/types.ts
  src/utils/change-url-event.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement check category and redirect to 404 when category not found
  src/pages/catalog-page/catalog-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: add different photos for different category pages
  src/assets/img/shop_hero-image_africa.jpg
  src/assets/img/shop_hero-image_america.jpg
  src/assets/img/shop_hero-image_asia.jpg
  src/assets/img/shop_hero-image_europe.jpg
  src/assets/img/shop_hero-image_hiking.jpg
  src/assets/img/shop_hero-image_sailing.jpg
  src/components/hero-shop/hero-shop.scss
  src/components/hero-shop/hero-shop.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add link to product in product-card
  src/components/product-card/product-card.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: add Function Types in category-list and catalog-page
  src/components/category-list/category-list.ts
  src/pages/catalog-page/catalog-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: add links to categories in header and footer
  src/components/banner/banner.ts
  src/components/footer/footer.test.ts
  src/components/footer/footer.ts
  src/components/header/header-nav/menu-items.ts
  src/types/types.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: rename hero-shop to shop-hero component
  src/components/shop-hero/shop-hero.scss
  src/components/shop-hero/shop-hero.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add AddressesPage route
  src/router/routes.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add account-addresses page link in button
  src/components/account/account-addresses/account-addresses.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: add new link type and delete unused type
  src/assets/icons/link-logout.svg
  src/components/link/link.scss
Due: npm run lint:check, npm run prettier:check, eslint

refactor: change bg for form-password
  src/components/form/form.scss
Due: npm run lint:check, npm run prettier:check, eslint

refactor: change styles for some buttons and add new
  src/components/button/button.scss
Due: npm run lint:check, npm run prettier:check, eslint

refactor: change styles for some links
  src/components/link/link.scss
Due: npm run lint:check, npm run prettier:check, eslint

feat: create function for price formatting
  src/services/formatPrice.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement filters block in shop
  src/components/button/button.scss
  src/components/select/select.scss
  src/components/select/select.ts
  src/components/shop-flters/shop-filters.scss
  src/components/shop-flters/shop-filters.ts
  src/constants/daysFilterOptions.ts
  src/constants/priceFilterOptions.ts
  src/pages/catalog-page/catalog-page.ts
  src/store/shop-store.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: draw product price
  src/components/product/product.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: apply formatting price function for product-cards
  src/components/product-card/product-card.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: rename and change account-mode type
  src/components/account/account-details/account-details.ts
  src/pages/account-page/account-page.ts
  src/types/enums.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: make redirect to 404 if there is no product with written id
  src/components/product/product.ts
  src/pages/product-page/product-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement filter products with commercetools
  src/components/product-list/product-list.ts
  src/constants/daysFilterOptions.ts
  src/pages/catalog-page/catalog-page.ts
  src/services/getProducts.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement sort products in shop
  src/components/select/select.scss
  src/components/select/select.ts
  src/components/shop-flters/shop-filters.scss
  src/components/shop-flters/shop-filters.ts
  src/components/shop-sort/shop-sort.scss
  src/components/shop-sort/shop-sort.ts
  src/constants/sortShopOptions.ts
  src/pages/catalog-page/catalog-page.scss
  src/pages/catalog-page/catalog-page.ts
  src/services/getProducts.ts
  src/store/shop-store.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: reset sort when user select "not selected" option
  src/store/shop-store.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: realize parseUrl function to check is correct path to product
  src/pages/product-page/product-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

build: add build for sprint 3
  sprint-3/assets/banner_discover-world.fc3b688b.jpg
  sprint-3/assets/icons/account-icon.0af7494f.svg
  sprint-3/assets/icons/bag-icon.3c078b99.svg
  sprint-3/assets/icons/cart-icon.5e260dab.svg
  sprint-3/assets/icons/change-password-icon.572fdc32.svg
  sprint-3/assets/icons/check.531b6e1b.svg
  sprint-3/assets/icons/chevron-up.d6c04bcf.svg
  sprint-3/assets/icons/empty-addresses-book.0d6f9c6c.svg
  sprint-3/assets/icons/link-arrow.f5ca4ef3.svg
  sprint-3/assets/icons/link-logout.97cabb0b.svg
  sprint-3/assets/icons/logout-icon.a8c01cdc.svg
  sprint-3/assets/icons/placeholder-image.ef65149d.svg
  sprint-3/assets/icons/popup-close-icon.0d68e712.svg
  sprint-3/assets/icons/spinner-icon.a86185d0.svg
  sprint-3/assets/icons/star-icon.4d7983f8.svg
  sprint-3/assets/icons/star.ec5aa92c.svg
  sprint-3/assets/icons/success-icon.c16b00d4.svg
  sprint-3/assets/icons/visibility-off.b146a4c8.svg
  sprint-3/assets/icons/visibility.c660466c.svg
  sprint-3/assets/main_hero-image.9df8a79c.jpg
  sprint-3/assets/shop_hero-image.52125b95.jpg
  sprint-3/assets/shop_hero-image_africa.a4bc2aa5.jpg
  sprint-3/assets/shop_hero-image_america.7c49435a.jpg
  sprint-3/assets/shop_hero-image_asia.e05d81bf.jpg
  sprint-3/assets/shop_hero-image_europe.77d79c03.jpg
  sprint-3/assets/shop_hero-image_hiking.6cc8dbbe.jpg
  sprint-3/assets/shop_hero-image_sailing.2e74bf90.jpg
  sprint-3/favicon.png
  sprint-3/index.html
  sprint-3/main.9a5caf33.js
  sprint-3/main.9a5caf33.js.LICENSE.txt
  sprint-3/style.9a7829e4.css
Due: npm run lint:check, npm run prettier:check, prettier, eslint

docs: add link to sprint-3 deploy
  README.md
Due: npm run lint:check, npm run prettier:check

feat: add rules for user-title
  src/components/header/header-user/header-user.scss
Due: npm run lint:check, npm run prettier:check, eslint

feat: add removeAddress service
  src/services/addresses/removeAddress.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add Sup component
  src/components/account/account-addresses/account-addresses.scss
  src/components/account/account-addresses/account-addresses.ts
  src/components/sup/sup.scss
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add Sup component with component
  src/components/sup/sup.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: add function types in select.ts
  src/components/select/select.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add Select component
  src/components/select/select.scss
  src/components/select/select.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest
