Repository this-is-this-team/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: install swiper
  package-lock.json
  package.json
Due: npm run lint:check, npm run prettier:check

feat: add new address functionality
  src/components/address/address.scss
  src/components/address/address.ts
  src/components/button/button.scss
  src/components/form/address-form.ts
  src/components/select/select-type.ts
  src/components/select/select.scss
  src/components/select/select.ts
  src/constants/addressInputs.ts
  src/pages/addresses-page/addresses-page.scss
  src/pages/addresses-page/addresses-page.ts
  src/services/addresses/addAddress.ts
  src/services/addresses/addTypeAddressID.ts
  src/services/addresses/setDefaultTypeAddress.ts
  src/styles/base/_variables.scss
  src/types/enums.ts
  src/types/interfaces.ts
  src/utils/change-visible-addresses-btns.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: crete draft of slider
  src/components/slider/slider.scss
  src/components/slider/slider.ts
  src/pages/product-page/product-page.scss
  src/pages/product-page/product-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add change address
  src/components/address/address.ts
  src/components/form/address-form.ts
  src/components/input/input.ts
  src/pages/addresses-page/addresses-page.ts
  src/services/addresses/changeAddress.ts
  src/types/interfaces.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: create product-slider
  src/components/slider/slider.scss
  src/components/slider/slider.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: change type string in address-list
  src/components/address/address.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement searching products in shop
  src/components/shop-search/shop-search.scss
  src/components/shop-search/shop-search.ts
  src/constants/sortShopOptions.ts
  src/pages/catalog-page/catalog-page.ts
  src/services/getProducts.ts
  src/store/shop-store.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add adaprive rules for width of element
  src/components/product/product.scss
  src/pages/product-page/product-page.scss
Due: npm run lint:check, npm run prettier:check, eslint

feat: implement reset search
  src/components/shop-search/shop-search.scss
  src/components/shop-search/shop-search.ts
  src/services/getProducts.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: change saving default address and address type
  src/components/form/address-form.ts
  src/components/select/select-type.ts
  src/services/addresses/removeTypeAddressID.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: correct reset search input
  src/components/shop-search/shop-search.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: fix breadcrumbs wrap
  src/components/breadcrumbs/breadcrumbs.scss
  src/components/link/link.scss
Due: npm run lint:check, npm run prettier:check, eslint

fix: use const from variables.scss instead media query
  src/components/product/product.scss
  src/components/slider/slider.scss
  src/pages/product-page/product-page.scss
Due: npm run lint:check, npm run prettier:check, eslint

fix: change width of product-elems
  src/components/product/product.scss
  src/components/slider/slider.scss
Due: npm run lint:check, npm run prettier:check, eslint

refactor: change adaptive for input and form blocks
  src/components/account/account-addresses/account-addresses.scss
  src/components/account/account-details/account-details.scss
  src/components/address/address.scss
  src/components/form/form.scss
  src/components/input/input.scss
Due: npm run lint:check, npm run prettier:check, eslint

fix: fix width of elements and and opacity to sliders buttons
  src/components/product/product.scss
  src/components/slider/slider.scss
Due: npm run lint:check, npm run prettier:check, eslint

build: update build for sprint-3
  sprint-3/assets/icons/link-logout.97cabb0b.svg
  sprint-3/index.html
  sprint-3/main.23e23061.js
  sprint-3/main.23e23061.js.LICENSE.txt
  sprint-3/main.9a5caf33.js
  sprint-3/style.9a7829e4.css
  sprint-3/style.a8de4034.css
Due: npm run lint:check, npm run prettier:check, prettier, eslint

fix: add unsubscribe from shopStore before render shopPage
  src/pages/catalog-page/catalog-page.ts
  src/store/base-store.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

build: update build for sprint-3
  sprint-3/index.html
  sprint-3/main.23e23061.js
  sprint-3/main.2fa7d416.js
  sprint-3/main.2fa7d416.js.LICENSE.txt
Due: npm run lint:check, npm run prettier:check, prettier, eslint

chore: add styles for prices like in Figma layout
  src/components/product-card/product-card.scss
  src/components/product-card/product-card.ts
  src/components/product/product.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add new sort option
  src/constants/sortShopOptions.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement modal slider and refactor: make code more readable
  src/components/popup/popup.scss
  src/components/slider/slider.scss
  src/components/slider/slider.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: save search value in input when switching pages
  src/components/shop-search/shop-search.ts
  src/pages/catalog-page/catalog-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add new style for cursor in slider
  src/components/slider/slider.scss
Due: npm run lint:check, npm run prettier:check, eslint

fix: fix modal slider bug after loop
  src/components/slider/slider.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

build: update build for sprint-3
  sprint-3/index.html
  sprint-3/main.2fa7d416.js
  sprint-3/main.4b503394.js
  sprint-3/main.4b503394.js.LICENSE.txt
  sprint-3/style.a83f3e8a.css
Due: npm run lint:check, npm run prettier:check, prettier, eslint

feat: add basket page & route and change links to this page
  src/components/footer/footer.ts
  src/components/header/header-user/header-user.ts
  src/pages/basket-page/basket-page.scss
  src/pages/basket-page/basket-page.ts
  src/router/routes.ts
  src/router/types.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add about-us page & route and change links to this page
  src/components/footer/footer.ts
  src/components/header/header-nav/menu-items.ts
  src/pages/about-us-page/about-us-page.scss
  src/pages/about-us-page/about-us-page.ts
  src/router/routes.ts
  src/router/types.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: change success color
  src/styles/base/_variables.scss
Due: npm run lint:check, npm run prettier:check, eslint

refactor: remove JSON.parse operation
  src/index.ts
  src/services/addresses/addAddress.ts
  src/services/addresses/addTypeAddressID.ts
  src/services/addresses/changeAddress.ts
  src/services/addresses/removeAddress.ts
  src/services/addresses/removeTypeAddressID.ts
  src/services/addresses/setDefaultTypeAddress.ts
  src/services/changePassword.ts
  src/services/updateUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: create anonymous cart with saving tokenAnon in LS
  src/services/apiRootAnonymus.ts
  src/services/createAnonymusCart.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement add to cart
  src/components/product-card/product-card.ts
  src/services/addToCart.ts
  src/services/createUserCart.ts
  src/services/getActiveCart.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add check for anonymous session at login
  src/services/signinUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add visual loading status for product card
  src/components/product-card/product-card.scss
  src/components/product-card/product-card.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: create basket page with empty cart message
  src/pages/basket-page/basket-page.scss
  src/pages/basket-page/basket-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: back building structure of basket section
  src/pages/basket-page/basket-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: add function return type
  src/components/product-card/product-card.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: put basket-empty component into a separate module
  src/components/basket-empty/basket-empty.scss
  src/components/basket-empty/basket-empty.ts
  src/pages/basket-page/basket-page.scss
  src/pages/basket-page/basket-page.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add infinite products loading
  src/constants/productsOptions.ts
  src/pages/catalog-page/catalog-page.ts
  src/services/getProducts.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add about-us list with members
  src/assets/icons/github-profile-icon.svg
  src/assets/img/team-members/andrew.jfif
  src/assets/img/team-members/maksim.png
  src/assets/img/team-members/yauheni.jfif
  src/components/about-us/about-us-list.ts
  src/components/about-us/about-us-member.ts
  src/components/about-us/about-us.scss
  src/constants/aboutUsMembers.ts
  src/pages/about-us-page/about-us-page.scss
  src/pages/about-us-page/about-us-page.ts
  src/styles/base/_variables.scss
  src/types/interfaces.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

Path conditions:
  npm run lint:check: any of: *
  npm run prettier:check: any of: *
  prettier: (any of: *.ts) or (any of: *.html)
  eslint: ((any of: *.ts) or (any of: *.html)) or (any of: *.scss)
  jest: any of: *.ts
