Repository this-is-this-team/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:check, npm run prettier:check, prettier, eslint, jest

.lintstagedrc:

{ "*": ["npm run lint:check", "npm run prettier:check"] }

.lintstagedrc.json:

{
    "*.ts": [
      "prettier",
      "eslint",
      "jest"
    ],
    "*.html": [
      "eslint",
      "prettier"
    ],
    "*.scss": "eslint"
  }

chore: add cursor pointer for account in header
  src/components/header/header-user/header-user.scss
Due: npm run lint:check, npm run prettier:check, eslint

chore: rotate arrows in menu
  src/components/header/header-nav/header-nav.scss
Due: npm run lint:check, npm run prettier:check, eslint

refactor: delete commented line
  src/components/header/header-user/header-user.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

build: add jest-environment-jsdom package
  package-lock.json
  package.json
Due: npm run lint:check, npm run prettier:check

fix: change jest config for correct testing
  jest.config.json
Due: npm run lint:check, npm run prettier:check

test: add tests for a Link component
  src/components/link/link.test.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

ci: add jest in pre-commit
  .husky/pre-commit
Due: npm run lint:check, npm run prettier:check

docs: add rules for working with deploy branch
  .github/PULL_REQUEST_TEMPLATE/pull_request_template_for_mentor.md
  .github/pull_request_template.md
  README.md
  package.json
Due: npm run lint:check, npm run prettier:check

build: add build for sprint-1
  sprint-1/assets/discover-world.66679b36.png
  sprint-1/assets/hero-image.98d30153.jpg
  sprint-1/assets/icons/account-icon.0af7494f.svg
  sprint-1/assets/icons/bag-icon.3c078b99.svg
  sprint-1/assets/icons/chevron-up.d6c04bcf.svg
  sprint-1/assets/icons/link-arrow.f5ca4ef3.svg
  sprint-1/assets/icons/visibility-off.b146a4c8.svg
  sprint-1/assets/icons/visibility.c660466c.svg
  sprint-1/favicon.png
  sprint-1/index.html
  sprint-1/main.70e7d4f9.js
  sprint-1/style.5c092a25.css
Due: npm run lint:check, npm run prettier:check, prettier, eslint

docs: add link to sprint-1 deploy
  README.md
Due: npm run lint:check, npm run prettier:check

fix: fix MIME type ('text/html') bug
  webpack.config.js
Due: npm run lint:check, npm run prettier:check

refactor: change types
  src/router/types.ts
  src/types/interfaces.ts
  src/types/types.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add new route
  src/router/routes.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: change hrefs type
  src/components/breadcrumbs/breadcrumbs.ts
  src/components/footer/footer.ts
  src/components/form/login-form.ts
  src/components/form/signup-form.ts
  src/components/header/header-nav/menu-items.ts
  src/components/header/header-user/header-user.ts
  src/components/link/link.ts
  src/components/logo/logo.ts
  src/pages/login-page/login-page.ts
  src/pages/main-page/main-page.ts
  src/pages/not-found-page/not-found-page.ts
  src/pages/signup-page/signup-page.ts
  src/utils/change-url-event.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

test: change href type in Link tests
  src/components/link/link.test.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: change disable attribute in Button
  src/components/button/button.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

test: add tests for a Button component
  src/components/button/button.test.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

test: add type for mockCallBack
  src/components/button/button.test.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: add animate decoration for link--arrow
  src/components/link/link.scss
Due: npm run lint:check, npm run prettier:check, eslint

chore: change node-fetch to fetch
  package-lock.json
  package.json
  src/services/apiRoot.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: implement signupUser
  src/services/signupUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add ability for user to set default addresses
  src/components/form/signup-form.ts
  src/components/input/input.scss
  src/components/input/input.ts
  src/constants/signupInputs.ts
  src/types/interfaces.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: correct send shipping and billing addresses to commercetools
  src/components/form/signup-form.ts
  src/types/interfaces.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

fix: do not submit a form when validation fails
  src/components/form/signup-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: move error handling to signupForm method
  src/components/form/signup-form.ts
  src/services/signupUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: make clearError method private in inputField class
  src/components/input/input.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: add different statuses for submitButton depending on status of request
  src/assets/icons/spinner-icon.svg
  src/assets/icons/success-icon.svg
  src/components/button/button.scss
  src/components/form/signup-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: create function-response to login user
  src/services/signinUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: call signinUser in login-form.onSubmit module
  src/components/form/login-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: install toastify-js
  package-lock.json
  package.json
Due: npm run lint:check, npm run prettier:check

feat: make and Notification and handle response using it
  src/components/form/signup-form.ts
  src/components/notification/notification.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: create custom styles for Notification
  src/components/notification/notification.scss
  src/components/notification/notification.ts
  src/styles/base/_variables.scss
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add notifications to login-form
  src/components/form/login-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: obtain the authentication token
  src/services/TokenCache.ts
  src/services/apiRefreshToken.ts
  src/services/apiRoot.ts
  src/services/apiRootLogin.ts
  src/services/apiRootRegistration.ts
  src/services/signinUser.ts
  src/services/signupUser.ts
  src/utils/saveToLocalStorage.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add redirect on main page when user signin
  src/components/form/login-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: add redirect on main page when user signup
  src/components/form/signup-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

feat: save token to store and local storage
  src/services/signinUser.ts
  src/services/signupUser.ts
  src/store/base-store.ts
  src/store/user-store.ts
  src/utils/saveToLocalStorage.ts
  src/utils/saveToken.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: add test component to header for demonstrate subscription
  src/components/header/header-user/header-user.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

refactor: return to apiRoot withClientCredentialsFlow
  src/services/apiRefreshToken.ts
  src/services/apiRoot.ts
  src/services/apiRootLogin.ts
  src/services/signinUser.ts
  src/services/signupUser.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest

chore: show logged-in user name
  src/components/form/login-form.ts
Due: npm run lint:check, npm run prettier:check, prettier, eslint, jest
